* {
    font-family: 'Courier New', Courier, monospace;

}

body {
    background-color: lavender;
}

/* centers and raises header and adds outline and underline */
h1 {
    font-size: 110px;
    border-bottom: 2px solid grey;
    -webkit-text-stroke: 2px grey;
    text-align: center;
    color: lavender;
    background-color: rgb(150, 129, 171);
    border-radius: 10px;
    width: 80%;
    margin: 75px auto;
    position: relative;
    top: -50px;
}

/* creates a blue box smaller than the width of the page for the content of the form to live in. raises and centers box*/
form {
    background-color: rgb(150, 129, 171);
    width: 80%;
    margin: 0 auto;
    padding: 15px;
    position: relative;
    bottom: 35px;
}

/* centers text */
label {
    display: block;
    text-align: center;
font-weight: 600;
margin: 8px;
}

/* makes the first two inputs sit on the same line side by side and centers in box */
.title-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    margin-bottom: 10px;
}

.title-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    text-align: center;
}

/* content input box  */
#content {
    height: 100px;
    width: 500px;
    display: block;
    margin: 5px auto 10px auto;
    background-color: lavender;
}

.content-box {
    text-align: center;
}

#title {
    background-color: lavender;
}

#userName {
    background-color: lavender;

}

/* makes the button fill up the form box and the text center in button */
button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    background-color: lavender;
    font-weight: 600;
}

/* centers portfolio link and places at the bottom of the page */
footer {
    text-align: center;
    position: relative;
    top: 60px;

}

/* media queries */
@media screen and (max-width: 425px) {
    body {
        flex: 0 1 100%;
        max-width: 100%;
    }
    
    form div {
        overflow: auto;
        height: 20%;
        margin: 2% auto;
    }
}

@media screen and (max-width: 768px) {
    body {
        flex: 0 1 100%;
        max-width: 100%;
    }

    form div {
        overflow: auto;
        height: 20%;
        margin: 2% auto;
    }
    
}


@media screen and (max-width: 920px) {
    body {
        flex: 0 1 100%;
        max-width: 100%;
    }

    form div {
        overflow: auto;
        height: 20%;
        margin: 2%;
    }

}
